<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <p>
        DIFFICULT<input id="difficult" type="range" min="0" max="100" value="50" >
    </p>
  </head>
  <body>
    <header>
       <h1><%= title %></h1>
    </header>
    <div class="left">
      <ul id="list">       
       <% songs.forEach(function(name){%> 
       <li title="<%=name %>"><%=name %></li>
       <% }) %>
      </ul>
    </div>
    <div class="right" id="box"></div>  
  <script type="text/javascript" src="/javascripts/index.js"></script>
  </body>
</html>
